<table class="table">
    {% for post in posts %}
        <tr>
            <td><img src="{{ post.author.get_imgpath() }}" style="display: flex" width="50" height="50"></td>
            <td>
                <div>
                    {{ post.author.nickname }} said {{ momentjs(post.timestamp).fromNow() }}:
                    <b><span id="post{{ post.id }}">{{ post.body }}</span></b>
                </div>
                <div>
                    <span id="translation{{ post.id }}">
                        <a href="javascript:translate('{{ g.locale }}', '#post{{ post.id }}', '#translation{{ post.id }}');">
                            {{ _('Translate') }}
                        </a>
                    </span>
                </div>


            </td>
        </tr>
    {% endfor %}
</table>
